# See http://help.github.com/ignore-fsObjects/ for more about ignoring fsObjects.

# compiled output
**/dist
**/tmp
**/out-tsc
**/builds
**/target
**/logs
**/bin
**/.sts4-cache

# dependencies
/node_modules

# IDEs and editors
.idea
.project
.classpath
.factorypath
.c9/
*.launch
.settings/
*.sublime-workspace

**/.idea
**/*.iml
**/.project
**/.classpath
**/.factorypath
**/.c9/
**/*.launch
**/.settings/
**/*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
node-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
