<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <properties>
    <property name="table_prefix" value="project0_"/>
    <property name="table_prefix_identity" value="project0_identity_"/>
  </properties>
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true" />
    <setting name="defaultFetchSize" value="100" />
    <setting name="defaultStatementTimeout" value="30" />
  </settings>
  <typeHandlers>
    <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" javaType="com.project0.user.model.enums.UserStatus" />
    <typeHandler handler="org.apache.ibatis.type.EnumTypeHandler" javaType="com.project0.user.model.enums.UserType" />
  </typeHandlers>
</configuration>
